/* Payout Push 
===========================================================
Offset columns by pushing them to the next grid division.

Can be used for rows and columns:

    <div class="row">
        <div class="column_fifth push-one">...</div>
    </div>

... or grids:

    <div class="grid-fifths"><!--
        --><div class="grid_item push-three">...</div><!--
    --></div>

*/

.grid-halves .grid_item.push-one,
.column_half.push-one,     { 
    @media (min-width: map-get($layout-breakpoint, medium)) { 
        margin-left: (col-width(1,2) + $col-gutter); 
    }
}

.grid-thirds .grid_item.push-one,
.column_third.push-one     { 
    @media (min-width: map-get($layout-breakpoint, medium)) { 
        margin-left: (col-width(1,3) + $col-gutter); 
    }
}

.grid-thirds .grid_item.push-two,
.column_third.push-two     { 
    @media (min-width: map-get($layout-breakpoint, medium)) { 
        margin-left: (col-width(2,3) + $col-gutter); 
    }
}

.grid-quarters .grid_item.push-one,
.column_quarter.push-one   { 
    @media (min-width: map-get($layout-breakpoint, medium)) { 
        margin-left: (col-width(1,4) + $col-gutter); 
    }
}

.grid-quarters .grid_item.push-two,
.column_quarter.push-two   { 
    @media (min-width: map-get($layout-breakpoint, medium)) { 
        margin-left: (col-width(2,4) + $col-gutter); 
    }
}

.grid-quarters .grid_item.push-three,
.column_quarter.push-three { 
    @media (min-width: map-get($layout-breakpoint, medium)) { 
        margin-left: (col-width(3,4) + $col-gutter); 
    }
}

.grid-fifths .grid_item.push-one,
.column_fifth.push-one     { 
    @media (min-width: map-get($layout-breakpoint, medium)) { 
        margin-left: (col-width(1,5) + $col-gutter); 
    }
}

.grid-fifths .grid_item.push-two,
.column_fifth.push-two     { 
    @media (min-width: map-get($layout-breakpoint, medium)) { 
        margin-left: (col-width(2,5) + $col-gutter); 
    }
}

.grid-fifths .grid_item.push-three,
.column_fifth.push-three   { 
    @media (min-width: map-get($layout-breakpoint, medium)) { 
        margin-left: (col-width(3,5) + $col-gutter); 
    }
}

.grid-fifths .grid_item.push-four,
.column_fifth.push-four    { 
    @media (min-width: map-get($layout-breakpoint, medium)) { 
        margin-left: (col-width(4,5) + $col-gutter); 
    }
}

.grid-sixths .grid_item.push-one,
.column_sixth.push-one     { 
    @media (min-width: map-get($layout-breakpoint, medium)) { 
        margin-left: (col-width(1,6) + $col-gutter); 
    }
}

.grid-sixths .grid_item.push-two,
.column_sixth.push-two     { 
    @media (min-width: map-get($layout-breakpoint, medium)) { 
        margin-left: (col-width(2,6) + $col-gutter); 
    }
}

.grid-sixths .grid_item.push-three,
.column_sixth.push-three   { 
    @media (min-width: map-get($layout-breakpoint, medium)) { 
        margin-left: (col-width(3,6) + $col-gutter); 
    }
}

.grid-sixths .grid_item.push-four,
.column_sixth.push-four    { 
    @media (min-width: map-get($layout-breakpoint, medium)) { 
        margin-left: (col-width(4,6) + $col-gutter); 
    }
}

.grid-sixths .grid_item.push-five,
.column_sixth.push-five    { 
    @media (min-width: map-get($layout-breakpoint, medium)) { 
        margin-left: (col-width(5,6) + $col-gutter); 
    }
}

.grid-sevenths .grid_item.push-one,
.column_seventh.push-one   { 
    @media (min-width: map-get($layout-breakpoint, medium)) { 
        margin-left: (col-width(1,7) + $col-gutter); 
    }
}

.grid-sevenths .grid_item.push-two,
.column_seventh.push-two   { 
    @media (min-width: map-get($layout-breakpoint, medium)) { 
        margin-left: (col-width(2,7) + $col-gutter); 
    }
}

.grid-sevenths .grid_item.push-three,
.column_seventh.push-three { 
    @media (min-width: map-get($layout-breakpoint, medium)) { 
        margin-left: (col-width(3,7) + $col-gutter); 
    }
}

.grid-sevenths .grid_item.push-four,
.column_seventh.push-four  { 
    @media (min-width: map-get($layout-breakpoint, medium)) { 
        margin-left: (col-width(4,7) + $col-gutter); 
    }
}

.grid-sevenths .grid_item.push-five,
.column_seventh.push-five  { 
    @media (min-width: map-get($layout-breakpoint, medium)) { 
        margin-left: (col-width(5,7) + $col-gutter); 
    }
}

.grid-sevenths .grid_item.push-six,
.column_seventh.push-six   { 
    @media (min-width: map-get($layout-breakpoint, medium)) { 
        margin-left: (col-width(6,7) + $col-gutter); 
    }
}

.grid-eigths .grid_item.push-one,
.column_eigth.push-one     { 
    @media (min-width: map-get($layout-breakpoint, medium)) { 
        margin-left: (col-width(1,8) + $col-gutter); 
    }
}

.grid-eigths .grid_item.push-two,
.column_eigth.push-two     { 
    @media (min-width: map-get($layout-breakpoint, medium)) { 
        margin-left: (col-width(2,8) + $col-gutter); 
    }
}

.grid-eigths .grid_item.push-three,
.column_eigth.push-three   { 
    @media (min-width: map-get($layout-breakpoint, medium)) { 
        margin-left: (col-width(3,8) + $col-gutter); 
    }
}

.grid-eigths .grid_item.push-four,
.column_eigth.push-four    { 
    @media (min-width: map-get($layout-breakpoint, medium)) { 
        margin-left: (col-width(4,8) + $col-gutter); 
    }
}

.grid-eigths .grid_item.push-five,
.column_eigth.push-five    { 
    @media (min-width: map-get($layout-breakpoint, medium)) { 
        margin-left: (col-width(5,8) + $col-gutter); 
    }
}

.grid-eigths .grid_item.push-six,
.column_eigth.push-six     { 
    @media (min-width: map-get($layout-breakpoint, medium)) { 
        margin-left: (col-width(6,8) + $col-gutter); 
    }
}

.grid-eigths .grid_item.push-seven,
.column_eigth.push-seven   { 
    @media (min-width: map-get($layout-breakpoint, medium)) { 
        margin-left: (col-width(7,8) + $col-gutter); 
    }
}
