/* Calendar
===========================================================    
*/

.calendar {
}

.calendar a {
    border-bottom: 0;
}


.date-box > td > .inner {
//    border-top: 6px solid map-get($colors, yellow);
}

.calendar table {
    border-top: 6px solid map-get($colors, grey6);
    border-bottom: 6px solid map-get($colors, grey6);
//    margin: 0 -1em;
//    border-collapse: separate;
//    border-spacing: 1em;    
//    width: calc(100% + 2em);
    width: 100%;
}

.calendar th,
.calendar td {
    padding: 0 0.5em;
    text-align: left;
    width: 14.28%;
}

.calendar th {
    text-transform: uppercase;
}

.calendar td {
    padding-bottom: 1em;
}

.date-box > td > .inner {
    border-top: 6px solid map-get($colors, yellow);
}

.calendar .item {
    font-size: 0.75em;
    line-height: 1.2em;
}

.date-box > td.future > .inner {
    border-color: map-get($colors, grey6);
}
